/* .restaurentList{
    display: flex;
    gap:15px;
}
.card{
    border: 1px solid gray;
    height:200px;
    width:150px;
} */
 .rating{
        position: relative;
    bottom: 12px;

 }

 .time{
        position: relative;
    float: right;
    bottom: 10px;

 }